<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless" />
  </configSections>
  <connectionStrings>
    <add name="Escc.Search.AutoComplete.Reader" connectionString=""/>
    <add name="Escc.Search.AutoComplete.AzureStorage" connectionString="" />
  </connectionStrings>
  
  <exceptionless apiKey="API_KEY_HERE" />
 
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.6"/>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="autocomplete.ashx"/>
      </files>
    </defaultDocument>
    <modules>
      <add name="ExceptionlessModule" type="Exceptionless.Web.ExceptionlessModule, Exceptionless.Web" />
    </modules>
  </system.webServer>
</configuration>