<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Escc.Net">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  <!--<Escc.Net>
    <Proxy>
      <add key="Server" value=""/>
      <add key="User" value=""/>
      <add key="Password" value=""/>
    </Proxy>
  </Escc.Net>-->
  <appSettings>
    <!-- Generic google account mapped only to have read only permissions on the appropriate Google Analytics view. You need to be logged in to GA as admin to add users into views. -->
    <add key="GoogleUsername" value=""/>
    <add key="GooglePassword" value=""/>
    <add key="GoogleAnalyticsProfileId" value="ga:xxxxxxxx"/>
    <add key="GoogleServiceAccount" value="example@appspot.gserviceaccount.com"/>
    <!-- Company-Product-Version required by the API -->
    <add key="ApplicationName" value="Company-Product-Version"/>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/536.6 (KHTML, like Gecko) Chrome/20.0.1092.0 Safari/536.6"/>
    <add key="Precondition" value="ENVIRONMENT_VARIABLE_NAME=some-value" />
  </appSettings>
  <connectionStrings>
    <!-- SQL Server data source 
    <add name="AutoSuggestReader" connectionString=""/>
    <add name="AutoSuggestWriter" connectionString=""/> -->
    <add name="Escc.Search.AutoComplete.AzureStorage" connectionString=""/>
  </connectionStrings>

  <exceptionless apiKey="API_KEY_HERE" />
  
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy usesystemdefault="True"/>
    </defaultProxy>
  </system.net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
