<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="Escc.Net">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <section name="exceptionless" type="Exceptionless.Configuration.ExceptionlessSection, Exceptionless" />
  </configSections>
  <Escc.Net>
    <Proxy>
      <add key="Server" value=""/>
      <add key="User" value=""/>
      <add key="Password" value=""/>
    </Proxy>
  </Escc.Net>
  <appSettings>
    <!-- Generic google account mapped only to have read only permissions on the appropriate Google Analytics view. You need to be logged in to GA as admin to add users into views. -->
    <add key="GoogleUsername" value=""/>
    <add key="GooglePassword" value=""/>
    <add key="GoogleAnalyticsProfileId" value="ga:xxxxxxxx"/>
    <!-- Company-Product-Version required by the API -->
    <add key="ApplicationName" value="Company-Product-Version"></add>
    <add key="UserAgent" value="Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/536.6 (KHTML, like Gecko) Chrome/20.0.1092.0 Safari/536.6"/>
  </appSettings>
  <connectionStrings>
    <add name="AutoSuggestReader" connectionString=""/>
    <add name="AutoSuggestWriter" connectionString=""/>
  </connectionStrings>

  <exceptionless apiKey="API_KEY_HERE" />

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
