<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.42" targetFramework="net46" />
  <package id="Escc.Net" version="1.0.1" targetFramework="net46" />
  <package id="Exceptionless" version="1.5.2121" targetFramework="net46" />
  <package id="Google.GData.Analytics" version="2.2.0.0" targetFramework="net46" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net46" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net46" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net46" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net46" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net46" />
  <package id="NHunspell" version="1.2.5554.16953" targetFramework="net4" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net46" />
  <package id="WindowsAzure.Storage" version="6.0.0" targetFramework="net46" />
</packages>